# VS Code
.vscode/

# CLion
.idea/

# Build directories
build/
bin/
obj/

# Test directories
test/

# Binary files
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.dylib
*.a
*.lib

# Dependency files
*.d

# Text files
*.txt

# Log files
*.log
*.tmp
*.temp
